@page
@model Razor.Pages.Shared.Uppgifter.FriendsByCountryModel
@{
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@attribute [IgnoreAntiforgeryToken]

<div class="container px-4 py-4" id="friends-by-country">
    <h2 class="pb-2 border-bottom">Friends by country</h2>
    <p>Click in on a country below to see what cities my friends are living in.</p>
    
    <div class="row row-cols-3 row-cols-lg-3,5 align-items-stretch g-4 py-5">

        @for (int i = 0; i < Model.distinctCountries.Count; i++)
        {
            <a href="~/Shared/Uppgifter/FriendsByCity?id=@Model.distinctCountries[i]" class="text-decoration-none">
                <div class="col">
                    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('~/img/swe-photo.jpg');">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                            <h3 class="pt-1 mt-1 mb-4 display-6 lh-1 fw-bold">@Model.distinctCountries[i]</h3>
                            <p class="fs-5"> @Model.infoAllDtos.Friends.Where(x => x.Country == @Model.distinctCountries[i] && x.City == null).Select(x => x.NrFriends).Sum() 
                                Friends in @Model.distinctCountries[i]</p>
                        </div>
                    </div>
                </div>
            </a>
        } 
    </div>
</div>
